.container1{
    width: 500px;
    height: 400px;
    background-color: aqua;
}
.container2{
    width: 5rem;
    height: 4rem;
    background-color: rgb(183, 70, 70);
}
.container3{
    width: 5vw;
    height: 4vh;
    background-color: antiquewhite;
}